<div class="container-fluid bg-white d-none d-lg-block">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center mt-3">
      <img src="https://preview.ibb.co/eXUPsm/mod2.png" class="img-fluid" alt="Responsive image">
    </div> 
    <div class="col-xl-6 col-lg-6 align-self-center">
      <h1 class="display-4 mb-3">Lorem ipsum dolor sit amet.</h1> 
      <p class="lead mt-3 mb-3">Nunc ac augue tempor, porttitor tortor vel, mollis magna.<br>Mauris non elementum urna, quis fringilla massa.</p>
      <button type="button" class="btn btn-outline-primary mt-5">Pre order Hero kit</button>
    </div> 
  </div>
</div> <!-- End of container -->

<!-- End of extra large + large -->
  
<div class="container-fluid bg-white d-lg-none">
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center ">
      <h1 class="display-4 mt-5">Lorem ipsum dolor sit amet.</h1> 
      <p class="lead mt-3">Nunc ac augue tempor, porttitor tortor vel, mollis magna Mauris non elementum urna, quis fringilla massa. </p>
      <button type="button" class="btn btn-outline-primary mt-4">Pre order Hero kit</button>
    </div>
    <div class="col-md-12 col-sm-12 text-center">
      <img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid mt-4" alt="Responsive image">
    </div> 
  </div> 
</div> <!-- End of container -->

<!-- End of medium + small -->

<div class="container-fluid d-none d-lg-block">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #e3e3e3;">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p class="text-primary">Pre order Hero kit</p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
        <video autoplay loop class="embed-responsive-item">
          <source src="https://videos.formlabs.com/temp/pilk/0530/camera.mp4" type="video/mp4">
        </video>
      </div>  
    </div>
    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #353535;">
      <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre order Hero kit</p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
        <video autoplay loop class="embed-responsive-item">
          <source src="https://videos.formlabs.com/temp/pilk/0603/headphones-landing.mp4" type="video/mp4">
        </video>
      </div>
    </div>  
  </div>
</div> <!-- End of container -->

<!-- End of extra large + large -->

<div class="container-fluid d-lg-none">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #e3e3e3;">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt  ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre order Hero kit</p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
        <video autoplay loop class="embed-responsive-item">
          <source src="https://videos.formlabs.com/temp/pilk/0530/camera.mp4" type="video/mp4">
        </video>
      </div>  
    </div>
    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #353535">
      <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre order Hero kit</p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
        <video autoplay loop class="embed-responsive-item">
          <source src="https://videos.formlabs.com/temp/pilk/0603/headphones-landing.mp4" type="video/mp4">
        </video>
      </div>
    </div>  
  </div> 
</div> <!-- End of container -->

<!-- End of medium + small -->

<div class="container-fluid bg-white mt-5">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center d-none d-lg-block">
      <img src="https://image.ibb.co/haMw56/500px.png" class="img-fluid" alt="Responsive image">
    </div> 
    <div class="col-xl-6 col-lg-6 text-left d-none d-lg-block">
      <h1 class="mt-5 mb-2"> Lorem ipsum dolor sit amet. </h1>
      <div class="card bg-light w-75 mt-5">
        <div class="card-body">
          <div class="media">
            <i class="fa fa-battery-full align-self-center mr-5 ml-2 fa-2x fa-rotate-270 text-muted" aria-hidden="true"></i>
            <div class="media-body">
              <h5 class="mb-2">Media heading</h5>
              <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
          </div>
        </div> 
      </div> 
      <div class="card bg-white w-75 mt-5 border-0">
        <div class="card-body">
          <div class="media">
            <i class="fa fa-microchip align-self-center mr-5 ml-2 fa-2x fa-flip-verticle text-muted" aria-hidden="true"></i>
              <div class="media-body">
                <h5 class="mb-2">Media heading</h5>
                <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
              </div>
            </div>
          </div> 
      </div> 
    </div> 

  <!-- End of xl + lg -->

    <div class="col-xl-6 col-lg-6 text-Center d-lg-none">
      <h1 class="mt-5 mb-2"> Lorem ipsum dolor sit amet. </h1>
        <div class="card bg-light w-100 mt-5">
          <div class="card-body">
            <div class="media">
              <i class="fa fa-battery-full align-self-center mr-5 ml-2 fa-2x fa-rotate-270 text-muted" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mb-2">Media heading</h5>
                    <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
              </div>
            </div>
          </div>

        <div class="card bg-white w-100 mt-5 border-0">
          <div class="card-body">
            <div class="media">
              <i class="fa fa-microchip align-self-center mr-5 ml-2 fa-2x fa-flip-verticle text-muted" aria-hidden="true"></i>
                <div class="media-body">
                  <h5 class="mb-2">Media heading</h5>
                  <p class="text-muted">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                </div>
              </div>
            </div>
          </div> 
    <div class="col-md-12 sm-12 text-center d-lg-block">
      <img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid mb-5" alt="Responsive image">
    </div>
    </div> 
 <!-- End of md + sm -->
  </div> 
</div> <!-- End of container -->


<div class="container-fluid bg-light bg-white d-none d-lg-block">
  <div class="row">
    <div class="col-xl-6 col-lg-6 align-self-center">
      <h1 class="w-75 ml-5 mb-5">Hero Flavour Pods</h1>
      <h5 class="ml-5 mb-3">Caramel Tobacco</h5>
      <p class="font-weight-light ml-5 mt-1 mb-3 w-75">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
      <h5 class="ml-5 mt-5 mb-3">Florida Orange</h5>
      <p class="font-weight-light ml-5 mt-1 mb-3 w-75">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
      <h5 class="ml-5 mt-5 mb-3">Brazilian Guava</h5>
      <p class="font-weight-light ml-5 mt-1 mb-3 w-75">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
      <h5 class="ml-5 mt-5 mb-3">Cool Mint</h5>
      <p class="font-weight-light ml-5 mt-1 mb-3 w-75">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque.</p>
    </div>
    <div class="col-xl-6 col-lg-6 p-0 m-0">
      <img src="https://cdn.pbrd.co/images/GUPUJqH.png" class="img-fluid" alt="Responsive image">
    </div>
  </div> 
</div> <!-- End of container -->

<!-- End of xl + lg -->

<div class="container-fluid bg-light bg-white d-lg-none">
  <div class="row">
    <div class="col-md-12 col-sm-12 align-self-center">
      <h1 class="mb-5">Hero Flavour Pods</h1>
      <h5 class="mb-3">Caramel Tobacco</h5>
      <p class="font-weight-light mt-1 mb-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
      <h5 class="mt-5 mb-3">Florida Orange</h5>
      <p class="font-weight-light mt-1 mb-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
      <h5 class="mt-5 mb-3">Brazilian Guava</h5>
      <p class="font-weight-light mt-1 mb-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
      <h5 class="mt-5 mb-3">Cool Mint</h5>
      <p class="font-weight-light mt-1 mb-3">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.</p>
    </div>
    <div class="col-md-12 col-sm-12 p-0 m-0">
      <img src="https://cdn.pbrd.co/images/GUPUJqH.png" class="img-fluid" alt="Responsive image">
    </div>
  </div> 
</div> <!-- End of container -->

<!-- End of md + sm -->


