
<div class="containe-fluid about-us-hero d-none d-lg-block">
	<div class="row">
		<div class="col-xl-8 col-lg-10">
			<h1 class="font-weight-light text-white mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
			<p class="lead text-white">Maecenas lacinia augue viverra quam dapibus malesuada. Integer efficitur blandit elementum. Integer fringilla mollis porta. Ut et mollis erat. Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa. Etiam dapibus nisi sit amet volutpat posuere. Ut eget pulvinar lacus. Maecenas non diam nibh. Duis auctor nisl euismod mi efficitur, id sollicitudin elit luctus.</p>
		</div> <!-- End of column -->
	</div> <!-- End of row -->
</div> <!-- End of container -->
	
<div class="container-fluid bg-light about-us-QC d-none d-lg-block">
	<div class="row">
		<div class="col-xl-10 col-lg-10 text-center center-div mb-5">
			<img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid" alt="Responsive image">
		</div> <!-- End of column -->

		<div class="col-xl-4 col-lg-10 text-center center-div">
			<h1 class="font-weight-light font-weight-light mb-5">Quality Construction</h1>
			<p class="lead">Maecenas lacinia augue viverra quam dapibus malesuada. Integer efficitur blandit elementum. Integer fringilla mollis porta. Ut et mollis erat.</p>
		</div> <!-- End of column -->
	</div> <!-- End of row -->
</div>	<!-- End of container -->
	
<div class="container-fluid d-none d-lg-block">
	<div class="row">
		<div class="col-xl-6 col-lg-6 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
		</div> <!-- End of column -->

		<div class="col-xl-6 col-lg-6 align-self-center">
			<h1 class="font-weight-light w-75 ml-5 mb-5">Rapid SLS prototyping</h1>
			<p class="lead w-75 ml-5">Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa.</p>


		</div> <!-- End of column -->

	</div> <!-- End of row -->
</div> <!-- End of container -->

<div class="container-fluid d-none d-lg-block">
	<div class="row">
		<div class="col-xl-6 col-lg-6 align-self-center">
			<h1 class="font-weight-light w-75 ml-5 mb-5">Our Founders</h1>
			<p class="lead w-75 ml-5">Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa.</p>
		</div> <!-- End of column -->

		<div class="col-xl-6 col-lg-6 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">

		</div> <!-- End of column -->

	</div> <!-- End of row -->
</div> <!-- End of container -->

<!-- End of XL + LG screen -->

<div class="container-fluid bg-dark pt-5 pb-5 d-lg-none">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h1 class="display-4 text-white mb-5">Lorem ipsum dolor sit amet.</h1>
			<p class="lead text-white">Maecenas lacinia augue viverra quam dapibus malesuada. Integer efficitur blandit elementum. Integer fringilla mollis porta. Ut et mollis erat. Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa. Etiam dapibus nisi sit amet volutpat posuere. Ut eget pulvinar lacus. Maecenas non diam nibh. Duis auctor nisl euismod mi efficitur, id sollicitudin elit luctus.</p>
		</div> <!-- End of column -->
	</div> <!-- End of row -->
</div> <!-- End of container -->
	
<div class="container-fluid bg-light d-lg-none">
	<div class="row">

		<div class="col-md-12 col-sm-12 p-0">
			<img src="https://image.ibb.co/cPo7V6/side.png" class="img-fluid" alt="Responsive image">
		</div> <!-- End of column -->

		<div class="col-md-8 col-sm-12 pb-5">
			<h5 class="mb-3">Quality Construction</h5>
			<p>Maecenas lacinia augue viverra quam dapibus malesuada. Integer efficitur blandit elementum. Integer fringilla mollis porta. Ut et mollis erat.</p>
		</div> <!-- End of column -->

	</div> <!-- End of row -->
</div>	<!-- End of container -->
	
<div class="container-fluid d-lg-none">
	<div class="row">
		<div class="col-md-12 col-sm-12 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
		</div> <!-- End of column -->

		<div class="col-md-12 col-sm-12 pb-5">
			<h5 class="mb-3 mt-5">Rapid SLS prototyping</h5>
			<p>Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa.</p>


		</div> <!-- End of column -->

	</div> <!-- End of row -->
</div> <!-- End of container -->

<div class="container-fluid d-lg-none">
	<div class="row">

		<div class="col-xl-6 col-lg-6 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
		</div> <!-- End of column -->

		<div class="col-md-12 col-sm-12 pb-5">
			<h5 class="mb-3 mt-5">Our Founders</h5>
			<p>Vivamus vitae dapibus enim, ut imperdiet ligula. Mauris et massa non purus interdum finibus. Curabitur vitae dictum justo. Vivamus malesuada varius massa.</p>
		</div> <!-- End of column -->



	</div> <!-- End of row -->
</div> <!-- End of container -->







